<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Casual-Closet Page</title>


		<link rel="stylesheet" href="stylepage/stylepage.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
		<script src="stylepage/js/script.js"></script>
		<script type="text/javascript" src="stylepage/js/javascript.js"></script>
	</head>
	<body >
		<header>
			<nav>
				<ul>
					<li><a href="/skateboardpage">SkateBoard-Page</a></li>
					<img id='logo' src="imagen/logo/logo.png">
					<li><a href="/casualclosetpage">Casual Closet-Page</a></li>
				</ul>
			</nav>
		</header>
		<div class="body-closet" >
			<div class="content1">
				<div class="image">
					<img src="imagen/closet/ropa-casual-5.jpg" class="image-max">
				</div>
				<div class="texto">
					<h1 class="title-casual">mlndflksnfljwaf</h1>

				</div>

			</div>
			<hr class="line-casual">
		</div>
		











	</body>
</html>
