<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../stylepage/stylepage.css">

		<title>Welcome</title>

	</head>
	<body class="box-body">

		<div class="int">
			<ol class="redirect">

				<li><a href="/skateboardpage">SkateBoard-Page</a>
				</li>
				
				<li><a href="/casualclosetpage">Casual Closet-Page</a>
				</li>
			</ol>
		</div>
		<div class="sub-content">
				
			<div class="trasparent" >
			</div>

			<div class = "text">
				Welcome to Proyect Last
			</div>
		</div>
	</body>
</html>